.wrapper.project-overview #alert {
    margin: 0;
}
.alert {
    margin-bottom: 10px;
}

.alert-message {
    border-radius: 10px;
    padding: 20px;
}

.alert-message.error {
    background-color: red;
}

.alert-message.success {
    background-color: rgb(31, 171, 40);
}