# Ignore .env file in the root folder
.env

# Ignore node_modules folder in the web/app folder
web/app/node_modules/

# Ignore package-lock.json files
**/package-lock.json

# Ignore db folder in mongodb folder
mongodb/db/

# Ignore the ssl keys
nginx/ssl/