<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/built/main.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/built/main.min.js"></script>
  </body>
</html>
