<h1>SETUP</h1>

<form action="/setup" method="post">

    <label for="date-format">Select Date Format:</label>
    <select name="date-format" id="date-format">
        <option value="en-GB" selected>DD/MM/YYYY</option>
        <option value="en-US">MM/DD/YYYY</option>
        <option value="zh-Hans-CN">YYYY/MM/DD</option>
    </select>

    <button type="submit">Finish Setup</button>
</form>