{{>sidebar}}
{{>header}}
{{>token}}
<div class="wrapper invoice-pdf-overview">
    <a class="link" href="/invoices/">Invoices</a>
    <embed src="{{pdf_path}}" type="application/pdf" width="100%" height="100%" />
</div>