<header>
    <a class="left" href="/">
        <h1>Mind Glowing CRM</h1>
    </a>
    <button class="right">{{username}}</button>
    <nav class="navigation right">
        <ul>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <li class="logout">
                <a class="button" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>


